* {
  box-sizing: border-box;
}

body {
  font-family: "American Typewriter";
  font-size: 16px;
  margin: 30;
  padding: 30;
  background-color: pink;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}
